.parent
{
    background-color: aquamarine;
    color: red;
    display: flex;
    width: 100%;
    border: 3px solid black;
}
.addingtext
{
    width: 50%;
    border: 2px solid yellow;
    margin: 0;

}
.addinglist
{
    width: 50%;
    border: 2px solid yellow;
    margin: 0;
}
.box
{
    font-size: 32px;
    border: 2px solid black;
    margin: 4px;
    display: flex;
    padding: 3px;
    height: 300px;
    background-color: rgb(226, 188, 131);
    justify-content: center;
    align-items: center;
}
.mainarea
{
    display: grid;
    grid-template-columns: repeat(2,50%);
}
button{
    background-color: magenta;
    color: black;
    width: 100px;
    height: 50px;
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 0;
}
button:hover
{
    cursor:pointer;
}
.selection
{
    display: flex;
    margin: 0;
}
.add,.delete{
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    border: 3px solid tomato;
    margin: 4px;
    width: 100%;
}
.adding,.deleting
{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid tomato;
    margin: 4px;
    width: 100%;
}
.list,.element{
    /* margin: 4px; */
    border: 2px solid red;
    width: 50%;
}
.deletebox
{
    display: none;
}
.listarea
{
    display: grid;
    grid-template-columns: repeat(2,50%);
}
.boxlist
{
    font-size: 32px;
    border: 2px solid black;
    margin: 4px;
    display: flex;
    padding: 3px;
    height: 300px;
    background-color: rgb(226, 188, 131);
    justify-content: center;
    align-items: center;
}
ul
{
    border: 3px solid violet;
}
.addinglist
{
    background-color: aquamarine;
    color: red;
    display: flex;
    width: 100%;
    border: 3px solid black;
    flex-direction: column;
}
li
{
    font-size: 32px;
}
